*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira sans', sans-serif;
  
  
}


main {
  padding: 32px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
   background-image: url("https://i.pinimg.com/736x/c8/05/69/c80569d3ef37f6975cf4c37e10935748.jpg");
   background-size: cover;
   color: rgb(39, 38, 34);
}

main p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 10px;
  
}

.openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgba(12, 22, 119, 0.801);
  color: white;
  cursor: pointer;
}